:root {
	--nav-item-color: #adafb2;
	--box-shadow-color: #d1d1d1;
	--hr-color:#d8d8d8;
	--app-subtxt-color: #adafb2;
	--activ-item-color: #ed1b2f;
	--app-nav-txt-color: #79878e;
	--app-details-txt-color: #79878e
}

.wrapper {
	max-width: 75%;
	min-width: 1100px;
	margin: 0 auto;
}
body {
	background-color: #f1f1f1;
}
.l-clearfix:after {
	content: '';
	display: block;
	clear:both;
}
[class*='l-grid_'] {
	display: inline-block;
	box-sizing: border-box;
	margin-right: -4px;
	vertical-align: middle;
}
.l-grid_baseline_star {
	vertical-align: top;
}
.l-grid_1-5 {
	width: 20%;
}
.l-grid_1-4 {
	width: 25%;
}
.l-grid_1-3 {
	width: 33.3%;
}
.l-grid_1-2 {
	width: 50%;
}
.l-grid_2-3 {
	width: 66.6%;  
}
.l-grid_3-4 {
	width: 75%;
}
.l-grid_1 {
	width: 100%;
}
.header {
	padding: 22px 0;
	background-color: white;
	box-shadow: 0 1px 3px 0 var(--box-shadow-color);
}
.logo {
	display: block;
	width: 9rem;
	height: 3.75rem;
	background-image: url(../assets/img/logo.svg);
	background-repeat: no-repeat;
}
.nav {
	float: right;
}
.nav__item {
	display: inline-block;
	margin-left: 3rem;
}
.nav__link {
	text-transform: capitalize;
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: var(--nav-item-color);
}
.nav__link_active {
	color: var(--activ-item-color);
}
.nav__link:hover {
	color: var(--activ-item-color);
}
.content {
	margin-top: 3rem;
	margin-bottom: 6rem;
	background-color: white;
	padding: 1.5rem 4rem;
	box-shadow: 0 0 5px 0 var(--box-shadow-color);
}
.apps__search-field::before {
	width: 20px;
	height: 20px;
	right: .3rem
}
.apps__search {
	padding-top: .7rem;
	padding-bottom: .7rem;
	padding-left: 1.2rem;
	padding-right: 42px;
}
hr {
	margin: 10px 0;
	width: 100%;
	height: 1px;
	background-color: var(--hr-color);
	border: 0;
	box-shadow: 0 0 1px 0 var(--box-shadow-color);
}
.apps-carousel {
	position: relative;
	width: 996px;
	height: 300px;
	margin: 0 auto;
	overflow-x: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.carousel-btn::-moz-focus-inner {
  border: 0;
}
.carousel-btn {
	position: absolute;
	box-sizing: border-box;
	width: 2rem;
	height: 3rem;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: 0;
	background-image: url(../assets/img/icon-app-slider-arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
	opacity: .3;
	outline: none;
	cursor: pointer;
	z-index: 1;
}
.carousel-btn:hover {
	opacity: 1;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.carousel-btn_prev {
	left: 0;
	transform: scaleX(-1) translateY(-50%);
}
.carousel-btn_next {
	right: 0;
}
.apps-carousel__pointers-row {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
.carousel-point {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	border-radius: 50%;
	background-color: var(--secondary-color);
	outline: none;
	cursor: pointer;
	border: 0;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	opacity: .3;
}
.carousel-point:hover {
	opacity: 1;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.carousel-point:active, .carousel-point_active {
	opacity: 1;
	background-color: var(--activ-item-color);
}
.apps-carousel__row {
	font-size: 0;
	white-space: nowrap;
	-webkit-transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	transition: .1s;
}
.apps-carousel__row_no-animation {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.apps__item {
	width: 300px;
	margin: 1rem;
}
/* .apps__item:first-child {
	margin-left: 0;
}
.apps__item:last-child {
	margin-right: 0;
} */
.app__img {
	width: 100%;
	height: 12rem;
	display: block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.app__name {
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: normal;
}
.app__date {
	font-size: 1rem;
	color: var(--app-subtxt-color);
}
.app-categories__item {
	padding: 1.25rem;
	vertical-align: top;
}
.app-categories__item:first-child {
	padding-left: 0;
}
.app-categories__item:last-child {
	padding-right: 0;
}
.app-category__header {
	position: relative;
}
.app-category__header::after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width:8.5px;
	height: 17px;
	background-image: url(../assets/img/icon-app-header-arrow.svg);
	background-repeat: no-repeat;
	background-size: 100%;
}
.app-category__list {
	list-style-type: none;
}
.app-category__item {
	background-image: url(../assets/img/icon-app-category-item.svg);
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 2.5rem;
	font-family: Arial, sans-serif;
	margin-bottom: 2rem;
}
.app-category__item::after{
	display: block;
	content: attr(data-counter);
	color: var(--app-subtxt-color);
	text-transform: lowercase;
	font-size: 1.25rem;
	font-family: Arial, sans-serif;
}
.app-category__item:hover::after{
	color: var(--activ-item-color);
}
.app-category__link {
	font-size: 1.25rem;
	font-weight: normal;
}
.app-nav {
	padding: 1.5rem;
}
.app-main {
	padding-left: 2rem;
}
.app-nav__app-list {
	color: var(--app-nav-txt-color);
	list-style-position: inside;
}
.app-nav__link {
	color: var(--app-nav-txt-color);
	font-weight: normal;
	text-transform: capitalize;
}
.app-nav__link:active, .app-nav__link_active {
	color: var(--activ-item-color);
}
.app-title__title {
	text-transform: capitalize;
}
.app-details__promo {
	float: right;
	width: 17rem;
}
.app-details__logo {
	width: 16rem;
	height: 12rem;
	display: block;
	margin: 0 auto;
}
.app-details__btn {
	display: block;
	margin: 1rem auto;
	font-weight: bold;
	font-size: .85rem;
}
.i-bascet-svg {
	vertical-align: middle;
	width: 1.5rem;
	height: 1.5rem;
}
.app-functions {
	padding-top: 1rem;
}
.app-functions__title {
	font-weight: normal;
}
.app-functions__list {
	padding: .75rem;
	padding-left: 1.75rem;
}
.app-functions__func {
	margin-bottom: 1.75rem;
}
.app-info__prop, .app-info__value,
.app-info__prop-value, .app-info__license, .app-info__requirements-value {
	color: var(--app-details-txt-color);
}
.app-info__props {
	margin-bottom: 1.5rem;
}